.purpose-section{
	
	background:#f5f5f5;
	padding:30px 0px;
}
.audience-section{
	background:#020031;
	padding:30px 0px;
}
.content-details-section{
	background:#f5f5f5;
	padding:30px 0px;
}
<<<<<<< HEAD
  fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
			min-height:250px;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
=======
.skills{
	float:left;
}
>>>>>>> 394f2b4c877778e74f983a935a5456e121f24c67
